.outerbox {
    display: grid;
    align-items: center;
}

.topcourses,
.recommendation,
.start-teaching {
    padding: 25px;
    margin-left: 10%;
    margin-right: 10%;
}

.topicoption {
    border: 1px solid black;
    padding: 25px;
}

.mininav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.python:hover,
.excel:hover,
.webdevelopment:hover,
.javascript:hover,
.datascience:hover,
.amazonaws:hover {
    color: black;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.reviews {
    background-color: #e9e6e6;
    padding-left: 100px;
}


