
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
}
.menu-items{
  list-style: none;
  border: 2px solid black;
  
}
.menu-container{
  position: absolute;
  top: 22px;
  left: 0px;
}
.hamburger-menu{
  flex: 1;
}
.logo{
  flex: 4;
}
.search-bar{
  flex: 1;
}
.cart{
  flex: 1;
}
.login{
  flex: 1;
}
.signup{
  flex: 1;
}
@media screen and (max-width: 992px) {
  .hamburger-menu{
    flex: 1;
  }
  .logo{
    flex: 4;
  }
  .search-bar{
    flex: 1;
  }
  .cart{
    flex: 1;
  }
  .login{
    visibility: collapse;
  }
  .signup{
    visibility: collapse;
  }
}