.review-carousel {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  
  .review-carousel-container {
    display: flex;
    overflow: hidden;
  }
  
  .review-carousel-item {
    flex: 0 0 100%; /* Each item takes full width */
    transition: transform 0.5s ease-in-out;
    padding-left:50px ;
    
  }
  
  .review-carousel-item.active {
    transform: translateX(0);
  }
  
  .review-carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    cursor: pointer;
  }
  
  .review-carousel-button.prev {
    left: 10px;
  }
  
  .review-carousel-button.next {
    right: 10px;
  }