.reviews {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.review-carousel-container {
  display: flex;
  overflow: hidden;
}

.review-carousel-item {
  flex: 0 0 100%;
  
  padding-left: 50px;
}

.slick-slider {
  width: 100%; /* Make sure the Slider takes the full width */
}

.slick-prev,
.slick-next {
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1; /* Ensure the buttons are above the items */
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}